@model Asp2.ViewModels.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <p>Nome: @Model.nome</p>
    <p>Apelido: @Model.apelido</p>
    <p>Telefone: @Model.telefone</p>

</body>
</html>
