@model Asp21.Models.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>detalhes</title>
</head>
<body>

    <p>Cliente escolhido: @Model.Nome @Model.Apelido</p>
    <hr />
    <a asp-action="index">Voltar</a>
</body>
</html>
