
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>menu_inicial</title>
</head>
<body>
    <h2>MENU INICIAL</h2>
    <hr />

    <a asp-action="Novo_Cliente">Novo cliente</a>
</body>
</html>
