
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>novo_cliente_frm</title>
</head>
<body>

    <form asp-controller="home" asp-action="Novo_Cliente" method="post">
        <input type="text" name="name" value=""/>
        <button>Guardar novo cliente</button>
    </form>
</body>
</html>
