
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Este conteúdo pertence à página principal.</h1>
    @Html.Partial("_parte1")
    @Html.Partial("_parte2")
    @Html.Partial("_parte1")
    @Html.Partial("_parte2")
</body>
</html>
