<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>(Navegação)</h2>
    <div>
        @RenderBody()
    </div>
    <h2>(Rodapé)</h2>
</body>
</html>
