@model Asp7.ViewModels.BAG

<p>View Principal</p>
<hr />
<p>Nome : @Model.Humano.Nome @Model.Humano.Apelido</p>
<p>Carro: @Model.Automovel.Marca @Model.Automovel.Cor</p>
<hr />

<partial name="_partial" />