
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p><a asp-controller="Home" asp-action="Metodo2" asp-route-id="100">Link 1</a></p>
    <p><a asp-controller="Home" asp-action="Metodo3" asp-route-nome="João Ribeiro">Link 2</a></p>
</body>
</html>
