<div class="container-fluid navegacao p-3 text-right">
    <a asp-controller="home" asp-action="index">Início</a> |
    <a asp-controller="servicos" asp-action="index">Serviços</a> |
    <a asp-controller="contacto" asp-action="index">Contato</a>
</div>